@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: "Blrrpix Strict";
  src: url("/fonts/blrrpix.strict.ttf");
}

@font-face {
  font-family: "Technor Variable";
  src: url("/fonts/Technor-Variable.ttf");
}

@utility font-main {
  font-family: "Blrrpix Strict";
}

@utility font-secondary {
  font-family: "Technor Variable";
}

::selection {
  background: #ff3605;
  color: #fff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.vignette {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 85%,
    rgba(0, 0, 0, 0.4)
  );
}

.bgHero {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  backdrop-filter: blur(30px);
  filter: contrast(110%);
}

.MobileResText {
  font-size: 1rem;
}

.centeredTextReveal h1 .block-line-wrapper,
.centeredTextReveal p .block-line-wrapper {
  margin: 0 auto;
}

.block-line-wrapper {
  position: relative;
  width: max-content;
  display: block;
}

.block-line {
  position: relative;
  display: block;
}

.block-revealer {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  pointer-events: none;
  will-change: transform;
  z-index: 1;
}

@media screen and (max-width: 380px) {
  .MobileResText {
    font-size: 0.875rem;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: 1;
  
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  
  background: rgba(0, 0, 0, 0);
  
  mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
  
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
  inset: -1rem 0;
}